.mainDiv{
    width: 100%;
}
.webViewDiv{
    width: 70%;
    float: left;
}
.fileUploadDiv{
    width: 30%;
    float: right
} 
#webview{
    height: 800px !important;
}
.padding{
    padding: 10px;
}
#chooseFolderInput{
    display: none;
}
.hidden{
    display: none;
}

.done{
    text-decoration: line-through;
}
.done span{
    text-decoration: none;
}

#task img{
    width: 400px;
}